      body {
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-image 1s;
        }
        .com-imagem {
            background-image: url('imgs/touch120pcs.webp');
            background-size: contain;
            background-position: center;
        }
        button {
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }